asgiref==3.8.1
bcrypt==4.3.0
beautifulsoup4==4.13.4
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.4
distlib==0.3.9
Django==5.2.3
filelock==3.18.0
idna==3.10
platformdirs==4.3.8
pycparser==2.22
requests==2.32.4
selenium==3.141.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.14.0
urllib3==1.26.20
virtualenv==20.31.2
