{% extends 'base.html' %}

{% block content %}
<h2>Your Secrets</h2>
<form action="{% url 'search_secrets' %}" method="get">
    <input type="text" name="q" placeholder="Search secrets...">
    <button type="submit">Search</button>
</form>

<a href="{% url 'create_secret' %}">Create New Secret</a>
<a href="{% url 'import_secrets' %}">Import Secrets</a>

<ul>
    {% for secret in secrets %}
    <li>
        <a href="{% url 'secret_detail' secret.id %}">{{ secret.title }}</a>
        <small>, owner: {{ secret.user.username }}, </small>
        <small>{{ secret.created_at }}</small>
    </li>
    {% endfor %}
</ul>
{% endblock %}